.bgscale_anim:hover {
  animation-name: bgScale;
}

.bgscale_anim {
  background-image: linear-gradient(to top, black 1px, transparent 1px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes bgScale {
  from {
    background-size: 0 100%;
  }

  to {
    background-size: 100% 100%;
  }
}